@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie List";
}
<!--bringing in MovieEntry model-->
@model IEnumerable<Movie>


<h2>Entered Movies</h2>

<div>
            <!--setting up little panel display-->   
            @foreach (var x in Model)
            {
                <!--making sure independence day doesn't show up-->
                @if (x.Title != "Independence Day")
                {
                    <div class="container, text-left">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title p-3">
                                        <a data-toggle="collapse" href="#@x.MovieId">@x.Title</a>
                                    </h4>
                                </div>
                                <div id="@x.MovieId" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Category: @x.Category</p>
                                        <p>Year: @x.Year</p>
                                        <p>Director: @x.Director</p>
                                        <p>Rating: @x.Rating</p>
                                        <p>Edited: @x.Edited</p>
                                        <p>Lent to: @x.LentTo</p>
                                        <p>Notes: @x.Notes</p>
                                        
                                        <p>
                                            <td class="text-center">



                                                @Html.ActionLink("Edit", "Edit", new { id = x.MovieId }, new { @class = "btn btn-sm btn-primary" })
                                            </td>
                                            <td class="text-center">
                                                @Html.ActionLink("Delete", "Delete", new { id = x.MovieId }, new { @class = "btn btn-sm btn-primary" })
                                            </td>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
    
</div>